svg {
  border: 1px solid gray;
  margin-top: 20px;
}

line {
  color: lightblue;
}
.axis-label {
  text-anchor: middle;
  font-size: 20px;
}

.x-axis text {
  text-anchor: end;
  transform: rotate(-40deg);
  font-weight: bold;
}

.close {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.smaline {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.controls {
  margin-top: -100px;
  position: relative;
  top: -100px;
  left: 70px;
}

#slider {
  position: relative;
  height: 30px;
  width: 80%;
  background-color: #eeeef5;
}

#selected-range {
  margin-left: 20px;
  font-size: 12px;
  text-align: center;
}

.controls {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.controls input[type="number"] {
  margin-left: 20px;
}

.tables {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-small;
}
.table-responsive {
  margin: 20px;
}
td,
th {
  border: 1px solid black;
}
